{% extends "layout.html" %}

{% block title %}
    Change Password
{% endblock %}

{% block main %}
    <form action="/change-password" method="post">
        <div class="form-group">
            <input autocomplete="off" autofocus class="form-control" name="username" placeholder="Username" type="text">
        </div>
        <div class="form-group">
            <input autocomplete="off" autofocus class="form-control" name="old-password" placeholder="Existing password" type="password">
        </div>
        <div class="form-group">
            <input class="form-control" name="new-password1" placeholder="New password" type="password">
        </div>
        <div class="form-group">
            <input class="form-control" name="new-password2" placeholder="Confirm new password" type="password">
        </div>
        <button class="btn btn-primary" type="submit">Change password</button>
    </form>
{% endblock %}
