{% extends "layout.html" %}

{% block title %}
    History
{% endblock %}

{% block main %}
    <table class="current">
        <thead class="head">
            <tr>
                <th>Symbol</th>
                <th>Quantity</th>
                <th>Price</th>
                <th>Transacted</th>
            </tr>
        </thead>
        <tbody>
            {% for row in rows %}
                <tr>
                    <td>{{ row.symbol }}</td>
                    <td>{{ row.quantity }}</td>
                    <td>{{ row.price | usd }}</td>
                    <td>{{ row.transacted }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}